@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    color: #222222;
    width: 100%;
}

a{
    text-decoration: none;
    color: #222222;
}

a:hover{
    color: #CA3C3F;
}

.header{
    width: auto;
    text-align: center;
    padding: 0px;
    margin-top: 45px;
}

.menu{
    width: auto;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

.menu-Links{
    list-style: none;
    padding: 0;
    font-size: 18px;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.banner p{
    font-size: 40px;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
}

.botao{
    border: 1px solid #333333;
    border-radius: 14px;
    padding: 15px;
    font-size: 20px;
    display: inline-block;
}

.banner img{
    width: 100%;
    max-width: 300px;
    height: auto;
}

.coluna{
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}

.cardapio{
    box-sizing: border-box;
    border-top: 2px solid #999999;
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 50px 15px 10px 15px;
}

.cardapio-categoria{
    text-align: left;
    color: #aa3537;
    font-size: 26px;
    margin-top: 50px;
    font-weight: 475;
}

.cardapio-item{
    padding-top: 20px;
    text-align: left;
    width: 100%;
}

.cardapio-nome{
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

.cardapio-preco{
    font-size: 20px;
    color: #d33639;
}

.cardapio-descricao{
    font-size: 17px;
    color: #555555;
}

footer{
    margin-top: 100px;
    text-align: center;
    padding: 50px;
    font-size: 14px;
    color: white;
    background-color: #555555;
}

.Link-whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 100;
}
.Link-whatsapp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 900px){
    .coluna{
    width: 100%;
    vertical-align: middle;
    margin-bottom: 30px;
    }
.banner p{
    font-size: 26px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    }
}